@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .navbar-collapse.collapse {
    display: inline-block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible!important;
    width: calc(100% - 355px) !important;
  }
  .fixed-nav_ {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 125px;
      float: right;
      padding-right: 16px;
  }
  .fixed-nav_ .nav>li:last-child >a {
    position: relative;
    display: inline-block;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 0;
  }
  li.notification {
    padding-right: 10px;
  }


  
}