@media (max-width: 600px) {
  .navbar {
    min-height: 65px;
}
  .navbar-header {
    display: inline-block !important;
    width: auto !important;
  }
  div#navbar {
    display: inline-block;
    float: right;
  }
  a.navbar-brand img {
    max-width: 160px;
    max-height: auto;
  }
  .nav>li {
    position: relative;
    display: inline-block;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 12px;
  }
  li.nav_profile_image a {
      height: 35px;
      width: 35px;
  }
.navbar-nav {
    margin: 7.5px 0px 0;
}
ul, menu, dir {
  display: inline-block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
li.nav_profile_image {
    padding-top: 13px;
    position: absolute !important;
    top: 0;
    right: 15px;
}
ul.nav.navbar-nav.navbar-right {
    padding-right: 45px;
}
.nav_drops .search {
    margin-top: 7px;
    width: 100vw;
    margin-left: -15px;
    padding: 10px 8px;
    height: auto;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.nav_drops .profile_drop, .nav_drops .filter {
    margin-top: 7px;
    width: 100vw;
    margin-left: 0;
    padding: 10px 8px;
    height: auto;
    margin-right: -15px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 0;
}





}