@media (max-width: 768px) {
  .navbar {
    min-height: 65px;
  }
  .navbar-header {
    display: inline-block !important;
    width: auto !important;
  }
  div#navbar {
    display: inline-block;
    float: right;
  }
  a.navbar-brand img {
    max-width: 160px;
    max-height: auto;
  }
  .nav>li {
    position: relative;
    display: inline-block;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 12px;
  }
  li.nav_profile_image a {
      height: 35px;
      width: 35px;
  }
.navbar-nav {
    margin: 7.5px 0px 0;
}
ul, menu, dir {
  display: inline-block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
li.nav_profile_image {
    padding-top: 13px;
    position: absolute !important;
    top: 0;
    right: 15px;
}
ul.nav.navbar-nav.navbar-right {
    padding-right: 45px;
}
.nav_drops .profile_drop, .nav_drops .search, .nav_drops .filter {
    margin-top: 7px;
    width: 100vw;
    margin-left: -15px;
    padding: 10px 8px;
    height: auto;
}
ul.follow_recommended {
    width: 97vw;
}
ul.follow_recommended li {
    display: block;
    color: #333344;
    padding: 12px 10px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.6);
    width: 100%;
}
ul.follow_recommended li:last-child {
    border-bottom: 0;
}
ul.follow_recommended li:after {
  content: '';
  padding-left: 0;
}
.filter .nav-tabs>li {
    width: 50%;
}
.tab_filter {
    width: 100%;
    display: inline-block;
}
ul.nav.nav-tabs li a {
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}
.filter .nav-tabs {
    border: 0;
    border-bottom: 1px solid rgb(241, 241, 241);
    padding: 0px 3px 10px;
    border-radius: 0px;
    width: 100%;
}
.filter .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 5px 20px 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #343444;
    text-align: center;
}
.filter .nav-tabs>li.active>a, .filter .nav-tabs>li.active>a:focus, .filter .nav-tabs>li.active>a:hover {
    color: #ffffff;
    cursor: default;
    background-color: #343444;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid #353544;
    text-align: center;
}
a.profile_sx {
    display: inline-block;
    border-bottom: 1px solid #f1f1f1;
    width: calc(100% - 40px);
    float: right;
    padding: 2px 0px 10px;
    text-transform: uppercase;
    color: #9b9ba2;
}
.nav_drops .profile_drop, .nav_drops .search, .nav_drops .filter {
    margin-top: 7px;
    width: 100vw;
    margin-left: 0;
    padding: 10px 8px;
    height: auto;
    margin-right: -15px;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
}



}