/* * {transition-timing-function: ease-in-out;-moz-transition-timing-function: ease-in-out;-webkit-transition-timing-function: ease-in-out;-o-transition-timing-function: ease-in-out;transition-duration: .2s;-moz-transition-duration: .2s;-webkit-transition-duration: .2s;-o-transition-duration: .2s;} */
html, body {font-family: 'Karla', sans-serif; margin-top: 0px;margin-bottom: 0px; background: none;-webkit-font-smoothing: antialiased !important;-moz-osx-font-smoothing: grayscale !important;font-weight: normal;background: #FBFBFB;}
body {
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #333344;
    font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.navbar {
  min-height: 77px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 1px rgba(51, 51, 68, 0.02);
}
.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}
a.navbar-brand img {
  max-height: 48px;
}
.navbar-nav>li>a {
  padding-top: 29px;
  padding-bottom: 29px;
  text-transform: uppercase;
  font-size:  13px;
  font-weight: bold;
  color: #333344;
}
.navbar-default .navbar-nav>li>a {
  color: #333344;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: rgba(51, 51, 68, 0.6);
  background-color: rgba(52, 52, 68, 0.05);
  font-weight: bold;
  border-bottom: 3px solid #333344;
}
.dropdown-menu {
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px rgba(51, 51, 68, 0.1);
  box-shadow: 0px 0px 10px rgba(51, 51, 68, 0.1);
}
.dropdown-menu>li>a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #343444;
  white-space: nowrap;
  text-transform: uppercase;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #343444;
}
li.nav_profile_image {
    padding-top: 13px;
}
li.nav_profile_image a {
    padding: 0 !important;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
li.notification a {
    font-size: 25px;
}
li.notification a span {
    font-size: 15px;
    position: absolute;
    top: 19px;
    right: 14px;
    color: #f10808;
}
.nav_drops {
	width: 100%;
	position: relative;
}
.nav_drops .profile_drop,
.nav_drops .search,
.nav_drops .filter {
    height: 60px;
    position: absolute;
    background: white;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(231, 231, 231, 0.7);
    box-shadow: inset 0px 2px 1px rgba(51, 51, 68, 0.02);
    padding: 12px 15px;
    /* box-shadow: 0px 2px 1px rgba(51, 51, 68, 0.02); */
    border-top: 1px solid #e7e7e7;
    display: block;
    margin-top: 83px;
}
.nav_drops .filter,
.nav_drops .profile_drop {
	width: auto;
	right:  0;
}
.nav_drops .search .form-control {
    color: #343444;
    border-color: #E9E9EA;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-weight: bold;
}
.search button {
    background: #fff;
    border-color: #e9e9ea;
}
ul.follow_recommended li {
    display: inline-block;
    color: #333344;
    padding: 7px;
}
ul.follow_recommended li a {
    text-transform: uppercase;
    font-size: 13px;
}
ul.follow_recommended li a:active,
ul.follow_recommended li a:focus,
ul.follow_recommended li a:hover {
  text-decoration: none;
  color: #333344;
}
.tab_filter {
    width: auto;
    display: inline-block;
}
.tab_content {
    width: auto;
    display: inline-block;
    float: right;
}
ul.follow_recommended li:after {
    content: '.';
    padding-left: 10px;
}
ul.follow_recommended li:last-child:after {
    content: '';
    padding-left: 0px;
}
.filter .nav-tabs>li.active>a, .filter .nav-tabs>li.active>a:focus, .filter .nav-tabs>li.active>a:hover {
    color: #ffffff;
    cursor: default;
    background-color: #343444;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
}
.filter .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 3px 10px 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #343444;
}
.filter .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 3px 20px 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #343444;
}
.filter .nav-tabs {
    border: 1px solid rgba(53, 53, 68, 0.26);
    padding: 3px;
    border-radius: 4px;
}
.follow_recommended li a {
	color: #9999A1;
}
.follow_recommended li.active a {
	color: #343444;
	font-weight: bold;
}
.profile_image {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 100%;
  background-size: cover;
  background-position: top center;
}















